{
  "@id": "%%IIIF-SERVICE-LOCATION%%/%%IDENTIFIER%%/info.json",
  "@type": "sc:Canvas",
  "label": "%%LABEL%%",
  "height": %%HEIGHT%%,
  "width": %%WIDTH%%,
  "images": [
    {
      "@id": "%%IIIF-SERVICE-LOCATION%%/%%IDENTIFIER%%/info.json",
      "@type": "oa:Annotation",
      "motivation": "sc:painting",
      "resource": {
        "@id": "%%IIIF-SERVICE-LOCATION%%/%%IDENTIFIER%%/full/full/0/default.jpg",
        "@type": "dctypes:Image",
        "format": "image/jpeg",
        "height": %%HEIGHT%%,
        "width": %%WIDTH%%,
        "service": {
          "@context": "http://iiif.io/api/image/2.1/context.json",
          "@id": "%%IIIF-SERVICE-LOCATION%%/%%IDENTIFIER%%",
          "profile": "http://iiif.io/api/image/2.1/level1.json"
        }
      },
      "on": "%%IIIF-SERVICE-LOCATION%%/%%IDENTIFIER%%/info.json"
    }
  ]
}
