{
  "@context": "http://iiif.io/api/presentation/2/context.json",
  "@id": "%%MANIFEST_URL%%",
  "@type": "sc:Manifest",
  "label": "%%TITLE%%",
  "metadata": [],
  "description": "TODO %%PPN%%",
  "attribution": "Provided by the National Library of the Netherlands",
  "viewingHint": "paged",
  "sequences": [
    {
      "@id": "http://imageviewer-iiif.kbresearch.nl/iiif-service/metadata/sequence/normal.json",
      "@type": "sc:Sequence",
      "label": "Normal Order",
      "canvases": [%%CANVASES%%]
    }
  ]
}
